.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .timer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;

    .time {
      font-size: 80px;
      font-family: "dseg";
      display: flex;
      justify-content: center;

      .timeWrap {
        z-index: 1000;
        padding: 10px;
        border: 2px solid var(--theme-reverse-3);
        transition: border var(--dark-mode-transition);
        border-radius: 20px;
        color: var(--theme-reverse-3);
        transition: all var(--body-transition);

        span {
          display: inline-block;
        }

        .msec {
          margin-left: 30px;
          font-size: 0.5em;
        }
      }

      .timeShadowWrap {
        z-index: 999;
        position: absolute;
        color: var(--theme-3);
      }
    }

    .buttons {
      --button-size: 64px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      div {
        height: var(--button-size);
        cursor: pointer;
      }

      svg {
        width: var(--button-size);
        height: var(--button-size);
      }

      .hide {
        display: none;
      }
    }
  }

  .timer > * {
    min-height: 10px;
  }

  .sidebar {
    display: flex;
    width: 400px;
    background-color: var(--theme-2);
    box-shadow: 5px 0 10px 2px var(--theme-reverse-3);
    transition: all var(--body-transition);
    height: 100%;
    overflow-y: auto;

    .flow {
      --flow-height: 250px;
      width: 100%;
      height: var(--flow-height);
      margin-top: 50px;

      ul {
        width: 100%;
        font-size: 16px;

        li {
          z-index: 980;
          margin: 5px 0;
          width: 100%;
          display: inline-flex;
          line-height: 1.5em;
          height: 58px;
          position: relative;

          .wrapper {
            background-color: var(--theme-3);
            z-index: 1000;
            margin: 0 20px;
            width: 150px;
            display: flex;
            padding: 5px;
            border-radius: 5px;
            background-color: var(--theme-3);
            transition: background-color var(--body-transition);
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        li.affirmative {
          justify-content: flex-start;
        }

        li.negative {
          justify-content: flex-end;
        }

        li.both > .wrapper {
          width: 100%;
          flex: 1;
        }

        li.highlight {
          z-index: 990;
          border: #00eeff88 dotted 2px;
          height: 68px;
          margin: 0;
          position: relative;
          top: calc((68px) * 1 + 5px);
          transition: top ease-in-out 0.5s;
          display: inline-flex;

          span {
            // background-color: red;
            position: absolute;
            width: 10px;
            height: 10px;
          }

          .lt {
            top: -2px;
            border-top: #00eeff solid 2px;
            left: -2px;
            border-left: #00eeff solid 2px;
          }

          .rt {
            top: -2px;
            border-top: #00eeff solid 2px;
            right: -2px;
            border-right: #00eeff solid 2px;
          }

          .lb {
            bottom: -2px;
            border-bottom: #00eeff solid 2px;
            left: -2px;
            border-left: #00eeff solid 2px;
          }

          .rb {
            bottom: -2px;
            border-bottom: #00eeff solid 2px;
            right: -2px;
            border-right: #00eeff solid 2px;
          }
        }
      }
    }
  }
}
